/* -----
Imported
---- */

/* Common style */

body{
   
    font-family: 'Poppins', sans-serif;
    margin: 0px;
     font-weight: 400;
    font-size: 16px;
}
.button{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.title-sec{
   
    text-align: center;
    margin-top: 60px;
    }

/* ------Header Css
---- */
header{
    
    background-color: #2D25A0;
    
}


nav{ 
    padding: 42px 124px 49px 156px;
    display:flex;
    justify-content: space-between;

}
nav p a{
    margin-right: 36px;
    text-decoration: none;
    color: white;
}

.copa-heading{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 70px;
    padding: 0px 140px 86px 156px;
}

.copa-text{
    width: 485px;
    height: 230px;
   
}
.copa-text h1{
    color:#FFFFFF;
    font-size: 64px;
    font-weight: 700;
}
.copa-pic{
    margin-bottom: 80px;
}
.copa-pic img{
 
    height: 438px;
}
header:hover img{
    transition: transform 2s;
    transform: scale(1.2) rotate(45deg);
}

/* ------------
Section Styless 
----------
*/



.players{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    grid-template-columns: repeat(3,1fr);
   
    margin: 0px 210px 0px 180px;
    
}
.player{
    height: 475px;
    width: 330px;
    padding: 15px;
   
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player h3{
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
}
.player-pic img{
    width: 328px;
   height: 260px;
}
.player-about{
    width: 100%;
    margin-bottom: 33px;
    font-size: 16px;
    color: #6C6C6C;
}

/* Extra */
.menu-name{
    background: linear-gradient(90deg, rgba(45,37,160,1) 49%, rgba(159,82,12,0) 100%);
    color: white;
    padding: 25px;
}
.videos{
    margin: 60px 156px 158px 182px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.video{
    width: 328px;
    height: 260px; 
    padding: 15px;
   
    margin-bottom: 60px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.match-text{
    font-size: 18px;
    color: #6C6C6C;
   
    margin-top: 25px;
   
    
}
.sponser{
   display: flex;
   align-items: center;
   justify-content: center;

}

.sponser img{
width: 30px;
height: 30px;
border: 1px blue solid;
border-radius: 50%;

 
}
/*-----------
 Foooter
--------- */
.footer-container{
    margin: 50px 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.footer-icon{
    margin: 10px 0px;
}
.footer-icon a{
    height: 32px;
    width: 32px;
    margin:0px 7px;
    padding: 10px;
    border-radius: 50%;
     background-color: rgba(128, 128, 128, 0.322); 
}
.footer-copyright{
    font-size: 18px;
}

/* Media Query--------
 */
 @media (max-width:700px)
 {
 nav{
    display: none;
  }

.copa-heading{
  
    display: flex;
    flex-direction:column;
    margin: 0px 16px 47px 15px;
    padding: 0px;
}
.copa-text h1{
    margin-left: 15px;
    width: 278px;
    text-align: left;
    font-size: 36px;
    
}


.copa-pic{
    padding-top: 100px;
    margin-bottom: 60px;
    width: 60%;
    height:60%;
}
.copa-pic img{
    width: 329px;
    height: 259.17px;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 61px;
}

header:hover img{
    transition: transform 2s;
    transform: scale(.8) rotate(45deg);
}

.container{
    width:100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 20px 10px 20px 10px;
}
.player{
    height: 475px;
    width: 330px;
    padding: 15px;
   
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.videos{
    display: grid;
   grid-template-columns: repeat(1,1fr);
   margin: 20px 10px 20px 10px;
} 

.footer-logo img{
    margin-bottom:29px;
    width: 125px;
    height: 29px;
}
.footer-copyright p{
    margin-top: 20px;
}
}